* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
}

.col {
  flex: 1;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right-color: aqua;
  border-left-color: aqua;
}

.col h3 {
  padding: 15px;
  color: #444;
  margin: 10px;
  border-radius: 10%;
  transition: background 0.2s;
}
.col h3:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  border: none;
  background: transparent;
  font-size: 2em;
  color: #fff;
}

.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: background 0.5s;
  cursor: pointer;
}
